.wrap {
  height: 100%;
}

.photo {
  background-size: cover;
  background-position: center;
}

.content {
  display: flex;
  flex-direction: column;
}

.head {
  height: 94px;
  padding: 0 16%;
  display: flex;
  align-items: center;
}

.form {
  flex-grow: 1;
  padding: 32px 16%;
}

.nav {
  border-bottom: 1px solid #d8d8d8;
  display: flex;
  justify-content: flex-start;
}

.link {
  position: relative;
  font-weight: bold;
  font-size: 12px;
  min-width: 50%;
  opacity: 0.35;
  cursor: pointer;
  padding-bottom: 10px;

  &.selected {
    opacity: 1;
  }
}

.selector {
  width: 30px;
  height: 3px;
  position: absolute;
  bottom: -1px;
}