.Button {
  width: 100%;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  border: none;
  padding: 30px;
}

.icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center left;
  padding: 2px 0 2px 10px;
  margin-left: -10px;
}