.Button {
  background-color: transparent;
  width: 100%;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  border: none;
  padding: 24px;
  border-radius: 0;
}

.icon {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center left;
  padding: 2px 0 2px 20px;
  margin-left: -20px;
}