.button {
  margin-top: 20px;
}

.info {
  height: 100%;
  padding: 30px;
}

.numberSection {
  display: flex;
  justify-content: space-between;
  height: 60%;
  border-width: 0 0 1px 0;
  border-style: solid;
}

.title {
  font-weight: bold;
}