.info {
  padding: 58px 65px;
}

.leadInfo {
  padding: 15px 26.5px;
}

.leadTitle {
  font-size: 8px;
  line-height: 1.56;
  margin-bottom: 2.5px;
}

.leadName {
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 2.5px;
}

.leadContact {
  font-weight: 500;
  font-style: italic;
  font-size: 8px;
  line-height: 1.56;
}

.numberSection {
  display: flex;
  justify-content: space-between;
  border-width: 0 0 1px;
  border-style: solid;
  padding-bottom: 50px;
  margin-bottom: 45px;
}

.numberColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.departmentList {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;

  & > div {
    min-width: 50%;
    margin: 5px 0;
  }
}

.search {
  width: 45%;
}

.button {
  margin-top: 20px;
}