.EventSummary {
  height: 400px;
  background: white;
}

.image {
  position: relative;
  padding-bottom: 100%;
}

.header {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 20px;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 60%)
}

.name {
  margin: 0;
  font-weight: lighter;
  font-size: 24px;
  margin-bottom: 15px;
}