.Header {
  position: relative;
  width: 100%;
  height: 210px;
  padding-top: 40px;
}

.Header:before {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: -90px;
  right: 0;
}

.brand {
  position: relative;
  line-height: 50px;
  padding-left: 55px;
  font-size: 28px;
  background: url(../images/logo.svg) 0 0 no-repeat;
}