.Splash {
  text-align: center;
  padding: 20px;
}

.logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.logo > g {
  fill: black;
}

.reversed .logo {
  animation-direction: reverse;
}

.title {
  font-size: 1.5em;
}

.intro {
  font-size: large;
}

.dataView {
  position: relative;
  margin: 20px;
  padding: 20px;
  border: 1px solid #333;
}

.dataView::after {
  content: 'data';
  position: absolute;
  top: -11px;
  left: 10px;
  background: white;
  padding: 0 5px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
