.UserInfo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.name {
  font-size: 48px;
  font-weight: lighter;
  line-spacing: -2px;
}

.content {
  text-align: right;
  margin-right: 30px;
  height: 55px;
}