.Splash {
  text-align: center;
}

.logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.reversed .logo {
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  -o-animation-direction: reverse;
  animation-direction: reverse;
}

.header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.title {
  font-size: 1.5em;
}

.intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
