.page_padding {
  padding-left: 10%;
  padding-right: 10%;
}

.bg_1 {
  background: #EDEDED;
}

.bg_2 {
  background: #000;
}

.bg_3 {
  background: #8F2CFA
}

.bg_4 {
  background: #4E92DF;
}

.bg_content {
  background: #FFF;
}

.txt_darkest {
  color: #000;
}

.txt_dark {
  color: #555;
}

.txt_light {
  color: #838383;
}

.txt_lighter {
  color: #9B9B9B;
}

.txt_lightest {
  color: #FFF;
}

.txt_accent {
  color: #8F2CFA;
}

.divider {
  border-color: #d8d8d8;
}

.title {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: -0.1px;
  margin-bottom: 14px;
}