.bg_1 {
  background: #EDEDED;
}

.bg_2 {
  background: #000;
}

.bg_3 {
  background: #8F2CFA
}

.bg_4 {
  background: #4E92DF;
}

.bg_content {
  background: #FFF;
}

.txt_1 {
  color: #FFF;
}

.txt_2 {
  color: #838383;
}

.txt_min {
  color: #9B9B9B;
}